body{
 margin: 0;
 padding: 0;
 background-color: rgb(116, 108, 108);
}
  
.background-image{
    background-image:url('dom.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 200vh;
    margin-top: -30px;
}
h1{
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: rgba(55, 36, 18, 0.836);
    text-shadow: 2ch;

}
.medium-blur{
    text-shadow: 1px 1px 5px black;
}
nav{
    background-color: rgb(95, 98, 98);
}

   
ul{
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
h3, p{
    text-align: center;
   font-family: 'Times New Roman', Times, serif;
}

li{
    display: inline-block;
    color: rgb(172, 186, 186);
    padding-left: 20px;
    padding-right: 20px;
   

}
li:hover{
    color: beige;
}
a{
    display: inline-block;
}