body
{
	margin: 0;
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
h1.logo{
	font-size: 44px;
	font-weight: 700;
	color: #ddd;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-bottom: 40px;

}
#topnav{
	background-color: rgb(114, 67, 222);
	text-align: center;
}
.menu{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
}
.menu li{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed rgb(243, 146, 111)
}
.menu li:first-child{
	border-left: 1px dashed rgb(243, 146, 111)
}
.menu a{
	text-decoration: none;
	color: aqua;
}

.menu a:hover{
	color: aliceblue;
}
.categories{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0;
	width: 950px;

}
h1{
	font-size: 44px;
	font-weight: 400;
	color:rgb(114, 67, 222);
	margin-bottom: 20px;
}
.author{
	
	margin-top: 10px;
	display: inline-block;
	
}
figure{
	margin: 8px;
	padding: 0;
}
.author a{
	opacity: 0.7;
}

.author a:hover{
	opacity: 1;
}

.entries{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 80px;
	margin-top: 40px;
}
#newest{
	background-color: #43474a;
}

.entry{
	background-color: rgb(58, 56, 56);
	padding: 10px;
	text-align: justify;
	margin-top: 40px;
	border-radius: 5px;
}
.entryimg{
	display: inline-block;
	margin-left: 30px;
	width: 120px;
}
.entryimg img{
	height: 90px;
	width: 90px;

}
.entrytxt{
	display: inline-block;
	width: 750px;
	font-size: 15px;
}

h2{
	font-size:20px;
	font-weight: 400;
	color: rgb(114, 67, 222);
}

.contact{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding-bottom: 70px;
	margin-bottom: 50px;
}
.button{
	text-decoration: none;
	background-color: rgb(101, 58, 232);
	color: rgb(247, 244, 244);
	border-radius: 5px;
	font-size: 19px;
	min-width: 300px;
	padding: 15px;
}
.button:hover{
	background-color: rgb(98, 123, 225);
}
.contact p{
	margin-bottom: 50px;
}
.social{
	margin-right: auto;
	margin-left: auto;
	width: auto;
	height: 300px;
	background-color: #2F3336;
	text-align: center;
	
}

.fb{
	width: 230px;
	height: 200px;
	background-color: #2F3336;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	border-radius: 5%;
	

}

.ig{
	width: 230px;
	height: 200px;
	background-color: #2F3336;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	border-radius: 5%;
	
}
.yt{
	width: 230px;
	height: 200px;
	background-color: #2F3336;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	border-radius: 5%;
	
}
.wa{
	width: 230px;
	height: 200px;
	background-color: #2F3336;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	border-radius: 5%;
	

}

.fb:hover{
	background-color: #43474a;
}

.yt:hover{
	background-color: #43474a;
}
.ig:hover{
	background-color: #43474a;
}

.wa:hover{
	background-color: #43474a;

}

.yt img{
	margin-top: 50px;
	height: 96px;
	width: 96px;
	text-align: center;

}
.fb img{
	
	margin-top: 50px;
	height: 96px;
	width: 96px;
	text-align: center;
	
}

.ig img{
	
	margin-top: 50px;
	height: 96px;
	width: 96px;
	text-align: center;
	
}

.wa img{
	
	margin-top: 50px;
	height: 96px;
	width: 96px;
	text-align: center;
	
}
.container{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

.west{
	width:700px;
	padding: 20px;
	float: left;
	text-align: justify;
}
.east{
	width: 210px;
	float: left;
	padding: 20px;
	margin-top: 20px;

}
h1{
	font-size:32px;
	font-weight:400;
	color: rgb(114, 67, 222);
	margin-bottom: 20px;
}
p{
	font-family: 'Times New Roman', Times, serif;
}
.info{
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	margin-bottom: 40px;
}
.east img{
	margin-top: 15px;
}

	
.west img{
	width: 700px;
}
.pictures img{
	width: 96px;
	height: 96px;
}